
@{
    ViewData["Title"] = "Index";
}
<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Faculté des sciences de la nature et de la vie</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Avec notre service informatique, nous offrons des services qui facilite vos taches quotidienne!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Notre Service</a>
            </div>
        </div>
    </div>
</header>
<!-- Services section-->

<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Services Disponible</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Section Enseignant</h3>
                    <p class="text-muted mb-0">Vous trouverez ici tous ce qui concernes la carière de l'enseignant.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Section ATS</h3>
                    <p class="text-muted mb-0">Vous trouverez ici tous ce qui concernes la carière de l'ATS.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Billetterie</h3>
                    <p class="text-muted mb-0">Vous trouverez ici tous ce qui concernes la billetterie.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Mes contacts!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">N'hésite pas de me contacter, je suis disponible a tout moment!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+213 698 90 96 18</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i><!-- Make sure to change the email address in BOTH the anchor text and the link target below!--><a class="d-block" href="mailto:bbm.med.amine@gmail.com">bbm.med.amine@gmail.com</a>
            </div>
        </div>
    </div>
</section>